<html>
<head>
    <title>New Car Added</title>
</head>
<body>
    <h1>Here is the car you just added</h1>
        <h1>{{ newcar.getModel }}</h1>
        <img src= "{{ newcar.getImage }}" width='30%'>
        <h2>{{ newcar.getPrice }}</h2>
        <h2>{{ newcar.getMiles }}</h2>
    <p><a href='/'>Go back home</a></p>
</body>
</html>
